# e.g. rpc.moksha.example.com
DOMAIN=
# e.g. "email hello@example.com" where hello@example.com is the email address for Let's Encrypt
CADDY_EMAIL_DIRECTIVE=
# e.g. "100.64.0.0/10 192.88.99.0/24"
RPC_TRUSTED_IP_RANGES=
# e.g. "https://app.example.com,https://admin.example.com"
CORS_ALLOWED_ORIGINS=*

GETH_VERSION=v1.14.11
PRYSM_VERSION=v5.1.0
REINIT_GETH=true

# Important - you must change these values!
# Address that will receive your validator rewards
WITHDRAWAL_ADDRESS=0x0000000000000000000000000000000000000000

# Network configuration
NETWORK=moksha
CHAIN_ID=14800
DEPOSIT_RPC_URL=https://rpc.moksha.vana.org
DEPOSIT_CONTRACT_ADDRESS=0x4242424242424242424242424242424242424242

# Common node configuration
EXTERNAL_IP=0.0.0.0

# Geth node configuration
HTTP_PORT=8545
GETH_WS_PORT=8546
AUTHRPC_PORT=8551
P2P_PORT=30303
# Ideally, set this to the domain name of this RPC. If you want to allow requests from any virtual hostname, set this to '*'
GETH_HTTP_VHOSTS=*
# Set this to 0 to allow unlimited transaction fees
GETH_RPC_TXFEECAP=1000

# Beacon chain configuration
GRPC_GATEWAY_PORT=3500
RPC_PORT=4000
P2P_TCP_PORT=13000
P2P_UDP_PORT=12000

GETH_BOOTNODES=enode://3cd214419423663983a39a7fb2fe647a6c0073d2083b61bb9e6bca1c3916f903d2f66c5ca162f341512d15eea9821a0325122fff4940f4e3b20dc0a755b2e6a1@34.45.237.218:30303
CL_BOOTNODE_1=enr:-MK4QDtYWpo7vQ8_wBO9FpyL_QppxMc41IDTykHB8hCSQXTf4Q9B_zblmxLyfxMJ0lUtU9k2wu8vijFnrhtAOgL6GAZOOGYNPh2F0dG5ldHOIAAYAAAAAAACEZXRoMpBBTsvKYAAAOP__________gmlkgnY0gmlwhCIt7dqJc2VjcDI1NmsxoQKJt2DraBATjIVg63_dWHM2RW-a9slPRJqnqgCuq9tTGIhzeW5jbmV0cw-DdGNwgjLIg3VkcIIu4A
CL_BOOTNODE_2=enr:-MK4QOikVo85TiB5IxavL5HoVILrRYKiaEcEcZsUFY0HHGk-ShAF3GW-sD-vMsU8QHPqD4vVPIBHDoR0ukNskQt3V22GAZOOJNqIh2F0dG5ldHOIAAAAAAAwAACEZXRoMpBBTsvKYAAAOP__________gmlkgnY0gmlwhCPoI7qJc2VjcDI1NmsxoQJNZyQYYBCUBQci2GriBuZUguZdHBFztZozLtzW6DlGqohzeW5jbmV0cwCDdGNwgjLIg3VkcIIu4A

#PRYSM_PEER_1=/ip4/34.134.28.235/tcp/13000/p2p/16Uiu2HAm6iJbnxCzgpnC5dcT9RyEYck6JM9rNYV2cmgGrKCuSsfV
#PRYSM_PEER_2=/ip4/34.171.10.126/tcp/13000/p2p/16Uiu2HAmLoEGD4c9ftbGr1C68sHP881mpzZYqL1sEtvSqAxnNQuf
#PRYSM_PEER_3=/ip4/34.46.48.83/tcp/13000/p2p/16Uiu2HAmQJJnDdNmxFGj6gzqFigNR5A2gUAemDTMHbE93zeVme4i
#PRYSM_PEER_4=/ip4/34.66.24.201/tcp/13000/p2p/16Uiu2HAm87aa9nAsz7epvibx8nDjpXbXVgGZF9Mbx8TTpFVqnWV7
#PRYSM_PEER_5=/ip4/34.170.252.30/tcp/13000/p2p/16Uiu2HAmB3UZZL6MZBrgEYGKNakt2ZXXD5NDp5TqupAcJcK66LHx

# Geth variables - https://geth.ethereum.org/docs/fundamentals/command-line-options
GETH_SYNCMODE=full      # Set this to 'full' for full or archive mode
GETH_STATE_SCHEME=path  # Set this to 'hash' for archive mode
GETH_GCMODE=full        # Set this to 'archive' for archive mode. This is only relevant if GETH_STATE_SCHEME=hash

# Prysm variables - https://docs.prylabs.network/docs/prysm-usage/parameters
PRYSM_SLOTS_PER_ARCHIVE_POINT=512         # 512 slots is 64 epochs (8 slots per epoch). Set this to 8 to archive once per epoch (high storage requirement, but good for serving realtime data over an API)
PRYSM_BLOCK_BATCH_LIMIT=256               # Set this to 256 for a full node, 64 for a snap or light node
PRYSM_BLOCK_BATCH_LIMIT_BURST_FACTOR=8    # Set this to   8 for a full node,  2 for a snap or light node
PRYSM_BLOB_BATCH_LIMIT=256                # Set this to 256 for a full node, 64 for a snap or light node
PRYSM_BLOB_BATCH_LIMIT_BURST_FACTOR=8     # Set this to   8 for a full node,  2 for a snap or light node

# Set these values and uncomment the corresponding settings in docker-compose.yml to use checkpoint sync
TRUSTED_BEACON_NODE_URL=https://archive.moksha.vana.org
WEAK_SUBJECTIVITY_CHECKPOINT=0x0000000000000000000000000000000000000000000000000000000000000000:0  # block root:epoch number

# Report stats to the public stats server
STATS_SERVER_URL=http://stats.moksha.vana.org
INSTANCE_NAME="Example Validator"
VALIDATOR_PUBLIC_KEY=0x000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000  # The public key of your validator
